<div class="modal fade" id="helpModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">People's Planner Help</h4>
			</div>
			<div class="modal-body">
				<h5>Getting Started</h5>
            	<p>People's Planner is a planning and organizational application for on-the-go scheduling. It allows users to keep track of all their commitments in one convenient place, whether they need to remember homework assignments, meetings, classes, appointments, or any sort of task of event! All that's needed is a Facebook account, then you can start keeping track of all your commitments on your mobile device!</p>
            	<br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->