<div class="modal fade" id="helpModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">People's Planner Help</h4>
			</div>
			<div class="modal-body">
				<h5><strong>Getting Started</strong></h5>
            	<p>People's Planner is a planning and organizational application for on-the-go scheduling. It allows users to keep track of all their commitments in one convenient place, whether they need to remember homework assignments, meetings, classes, appointments, or any sort of task of event! All that's needed is a Facebook account, then you can start keeping track of all your commitments on your mobile device!</p>
            	<h5><strong>Event Scheduling</strong></h5>
            	<p>Add any event you have that you don't want to forget! You can color code it so that it's easier to find in the calendar and distinguish from any other events you may have. You can also choose to have the event repeat daily or weekly, with a custom option to come in the next installment! If you're afraid that you may forget, you can also set up notifications, and we'll send you a text or email (depending on your personal preference) to remind you before the event starts!</p>
            	<h5><strong>Task Management</strong></h5>
            	<p>Don't forget about assignments and other small tasks, too! Just because it doesn't have a specific timeframe doesn't mean you don't need to keep track of it somewhere. Tasks are color-coded based on their priority, so you can easily find the most important task you have still waiting on your list. They're sorted by their due date, so the ones coming up the soonest will always be the first thing you see! Just like with events, you can choose to be reminded of a task before it's due through either text or email!</p>
            	<h5><strong>Thanks for using the People Planner!</strong></h5>
            	<p>Thanks so much for trying out our app!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->