<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="text-align: center"href="/"><img class="logo-img" src="img/logo.png"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 12px; text-align: right">
                    	<li><a id="home-link" href="/">Home</a></li>
                        <li><a href="/calendar">Calendar</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a id="tasks-link"href="/tasks">Tasks</a></li>
                        <li><a href="settings">Settings</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>