<!doctype html>

<html>
<head>
	<title>People's Planner</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
		<div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="text-align: center" href="/">People's<br>Planner
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" style="margin-top: 12px; text-align: right">
                        	<li><a href="/">Home</a></li>
                            <li><a href="/calendar">Calendar</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/tasks">Tasks</a></li>
                            <li><a href="settings">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-acc">
        <div class="panel panel-primary">
            <div class="panel-heading">Profile</div>
            <div class="panel-body">Username: <span id="name"></span></div>
            <div class="panel-body"><input type="username" class="form-control" id="username" placeholder="Change Username"></div>
            <div class="panel-body"><input type="password" class="form-control" id="pwd" placeholder="Change Password       ***********"></div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Notification Devices</div>
            <div class="panel-body">Phone Number: 1-800-000-0000</div>
            <div class="panel-body"><input type="phone" class="form-control" id="Phone" placeholder="Change Phone Number"></div>
            <div class="panel-body">Email: peopleplanner@gmail.com</div>
            <div class="panel-body"><input type="phone" class="form-control" id="Email" placeholder="Change Email"></div>
        </div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
    {{> googleAnalytics}}
</body>
</html>
