<!doctype html>

<html>
<head>
	{{> taskExperiment}}
	<title>People's Planner</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	{{> navbar}}
    
	<div class="container home-body">
		<div class="greeting">
			<span id="greetingMessage"></span>, <span id="first-name">user</span>!
		</div>
		<div class="profile">
			<figure align="center">
				<img class="img-circle" id="profile-picture" src="img/default.png"/>
			</figure>
		</div>

		<div class="day-summary">Today is <span id="today"></span>.<br>You have <span id="todayEvents">____</span> events and <span id="todayTasks">____</span> unfinished tasks today.</div>

		<div id="bottom-nav" style="text-align: center">
			<div class="row">
				{{#each nav-link}}	
				<div class="col-xs-6">
					<figure class="page-link">
						<a href="/{{link}}">
							<img class="img-circle" src="img/{{image}}"/>
						</a>
						<figcaption>{{text}}</figcaption>
					</figure>
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/project.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	{{> googleAnalytics}}
</body>
</html>
