<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<div class="greeting" style="text-align: center">Hello!</div>
		<div class="profile">
			<figure align="center">
				<img class="img-circle" id="profile-picture" src="img/default.png"/>
			</figure>
		</div>

		<div id="date-display">
			<span id="month">{{month}}</span><br><span id="date">{{date}}</span>
		</div>

		<div id="bottom-nav" style="text-align: center">
			<div class="row">	
				<div class="col-xs-3">
					<figure id="cal-button">
						<img class="img-circle" src="img/cal-icon.png"/>
						<figcaption>Calendar</figcaption>
					</figure>
				</div>
				<div class="col-xs-3">
					<figure id="event-button">
						<img class="img-circle" src="img/event-icon.png"/>
						<figcaption>Today's Events</figcaption>
					</figure>
				</div>
				<div class="col-xs-3">
					<figure id="task-button">
						<img class="img-circle" src="img/task-icon.png"/>
						<figcaption>Today's Tasks</figcaption>
					</figure>
				</div>
				<div class="col-xs-3">
					<figure id="settings-button">
						<img class="img-circle" src="img/settings-icon.png"/>
						<figcaption>Settings</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
