body {
	background: url("../img/background.png") center center fixed;
	padding: 25px;
}

#profile-picture {
	width: 75px;
	height: auto;
}

.greeting {
	color: white;
	padding-bottom: 20px;
	font-size: 20px;
}

#date-display {
	padding-top: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
}

#month {
	font-size: 50px;
}

#date {
	font-size: 200px;
}

#bottom-nav {
	text-align: center;
}

#bottom-nav figure {
	color: white;
}

#bottom-nav img {
	width: 65%;
	height: auto;
}

#cal-header {
	text-align: center;
	color: white;
	position: fixed;
}

#menu-photo {
	width: 20px;
	height: auto;
	margin-top: 25px;
}

#cal-label {
	font-size: 50px;
	text-align: center;
}

#add-label {
	vertical-align: middle;
	font-size: 50px;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#cal-label a:hover {
	font-weight: normal;