body {
	background: url("../img/background.png") center center fixed repeat;
	padding: 25px;
	font-family: 'Alegreya Sans', sans-serif;
}

/* HOME PAGE */
#profile-picture {
	width: 90px;
	height: 90px;
}

.greeting {
	color: white;
	padding-bottom: 20px;
	font-size: 20px;
	text-align: center;
	font-size: 50px;
}

.day-summary {
	color: white;
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 25px;
}

.page-link {
	padding-top: 30px;
}

#date-display {
	padding-top: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
}

#month {
	font-size: 50px;
}

#date {
	font-size: 200px;
}

#bottom-nav {
	text-align: center;
}

#bottom-nav figure {
	color: white;
}

#bottom-nav img {
	width: 75px;
	height: auto;
}

#bottom-nav figcaption {
	padding-top: 5px;
}

/* CALENDAR */
.calendar {
	padding-top: 40px;
}
#cal-header {
	text-align: center;
	color: white;
	position: fixed;
}

#menu-photo {
	width: 20px;
	height: auto;
	margin-top: 25px;
}

#cal-label {
	font-size: 50px;
	text-align: center;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#cal-label a:hover {
	font-weight: normal;
}


/* SETTINGS */

.settings-profile {
	margin-top: 40px;
	margin-bottom: 0px;
}

.settings ul {
  width: 100%;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.settings li {
  color: #FFFFFF;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
 
.settings li:last-child {
  border: none;
}
 
.settings li a {
  text-decoration: none;
  color: #FFFFFF;
  width: 200px;
}

.settings {
	text-align: center;
	padding-top: 40px;
}

.liref {
	margin: auto;
}

#emailnotif {
	text-decoration: none;
	text-align: center;
}

#notif-toggle {
	background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: #FFFFFF;
}

/* TASKS */

.page-header {
	color: white;
	font-size: 50px;
}

.page-title {
	text-align: left;
}

.add-label {
	text-align: right;
}

.checkbox {
	color: #FFF;
}

/* Navigation */
.navbar-nav > li > a, .navbar-brand
{
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 36px;
    color: rgb(26,134,204) !important;
}

.navbar
{
    min-height:36px !important;
    background-color: #000;
}

.home-body {
	padding-top: 40px;
}

#new_task {
	color: white;
}

.btn {
	width: 75px;
}

/* ACC SETTINGS */
.container-acc {
	margin-top: 40px;
}

.acclabel{
	color: #FFFFFF;
}

.event-info {
	font-size: 30px;
}

.summary {
	color: white;
}

/* TASKS*/
.task-div {
	margin: 10px;
	border-left: 6px solid;
	background-color: #f3f3f3;
	border-radius: 5px; 
}

.task-name {
	margin-left: 10px;
	font-size: 150%;
	font-weight: bold;
	width: 50%;
	display:inline-block;
}

.task-due {
	margin-left: 10px;
}

.main-task {

	margin-left: 10px;
	margin-bottom: 5px;
}

.task-notes {
	
	margin-left: 10px;
	margin-bottom: 5px;
}

.editbtn {
	float: right;
	margin-right: 5px;
	margin-top: 5px;	
}

.removebtn {
	float: right;
	margin-top: 5px;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* TEMP EVENTS */
.event-div {
	margin: 10px;
	border-left: 6px solid;
	background-color: #f5fffa;
	border-radius: 5px; 
}

.event-name {
	margin-left: 10px;
	font-size: 150%;
	font-weight: bold;
}

.event-due {
	margin-left: 10px;
}

.event-notes {
	
	margin-left: 10px;
	margin-bottom: 5px;
}

.editbtnEvent {
	float: right;
	margin-right: 5px;
	margin-top: 5px;	
}

.removebtnEvent {
	float: right;
	margin-top: 5px;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#add-btn {
	height: 70px;
	width: auto;
	float: right;
	vertical-align: middle;
}

@font-face {
    font-family: museo;
    src: url("../fonts/museosans-500.otf")  format("opentype");
}
