body {
	background: url("../img/background.png") center center fixed;
	padding: 25px;
}

#profile-picture {
	width: 75px;
	height: auto;
}

.greeting {
	color: white;
	padding-bottom: 20px;
	font-size: 20px;
}

#date-display {
	padding-top: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
}

#month {
	font-size: 50px;
}

#date {
	font-size: 200px;
}

#bottom-nav {
	text-align: center;
}

#bottom-nav figure {
	color: white;
}

#bottom-nav img {
	width: 55px;
	height: auto;
}

#cal-header {
	text-align: center;
	color: white;
	position: fixed;
}

#menu-photo {
	width: 20px;
	height: auto;
	margin-top: 25px;
}

#cal-label {
	font-size: 50px;
	text-align: center;
}

#add-label {
	vertical-align: middle;
	font-size: 50px;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#cal-label a:hover {
	font-weight: normal;
}

.list-option{
	border-bottom: thin solid #000000;
	color: #000000;
    display: block;
    line-height: 50px;
    list-style-type: none;
    text-decoration: none; 
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  width: 200px;
 
}
 
li a:hover {
  font-size: 30px;
}